body {
    background-color: paleturquoise;
    text-align: center;
}

a {
    color: lightseagreen;
    margin: 250px;
  }

img {
    margin: 0px 0px 0px 70px
}

table {
  margin-left: auto;
  margin-right:auto;
}

th {
    border: 1px solid;
}

td {
    border: 1px solid;
}
