body {
    background-color: rgb(67, 136, 240);
    text-align: center;
}

table {
    margin-left: auto;
    margin-right:auto;
}
  
th {
    border: 1px solid;
}

td {
    border: 1px solid;
}

img {
    width: 400px;
    height: 600px;
}

figure {
  text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
}
